img.cartLineItemThumb {
    max-width: 300px;
    width: 100%;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartLineItem {
    display: flex;
    border: 1px,solid,beige;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

ol.cartList {
    width: 80%;
    border: 2px,solid,white;
    padding: 10px;
}

footer.cartBottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

footer.cartBottom>* {
    margin-inline: 20px;
    margin-top: 20px;
}

li.cartLineItem>* {
    margin-block: 10px;
}
